doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title} | ArteSano
    link(rel="icon" type="image/png" href="/images/favicon.png")
    link(rel="stylesheet", href="style_index.css")
    script(src="script_index" defer) 
  body 
    header
      h1 logo_ARTE-SANO
      nav 
        button INICIAR SESIÓN
    main 
      .container 
        h1 ARTE-SANO
        p ARTE.SANO <br>¡Bienvenido a nuestra comunidad de artesanos! Un espacio creado para conectar, compartir y inspirarse junto a personas que comparten tu pasión. <br>Aquí encontrarás creatividad, apoyo y nuevas oportunidades para crecer.
      section
        .vitrina
          .container
            include vitrina.pug

    footer
      p © 2025 ArteSano - Todos los derechos reservados
