extends layout.pug

block main
  h2.text-center.mb-4.text-dark INICIAR SESIÓN
  form(action="/login", method="post" autocomplete="off")
    label.form-label(for="mail") Email:
    input.form-control.mb-3(type="email" id="mail" name="mail" placeholder="Email" required)
    label.form-label(for="pw") Contraseña:
    input.form-control.mb-2(type="password" id="pw" name="pw" placeholder="Contraseña" autocomplete="new-password" required)
    .text-end.my-3
      a(href="/recuperar") ¿Olvidaste la contraseña?
    button.btn.btn-warning.w-100.mb-2.fs-5(type="submit") Ingresar
    button.btn.btn-outline-dark.w-100(id="btnNuevaCuenta" type="button") Crear cuenta nueva

block scripts
  script(src="/javascripts/script_login.js" defer)